<div
  class="flex flex-col sm:flex-row items-center justify-between text-gray-400 text-sm"
>
  <div class="mb-2 sm:mb-0">{{ itemCount }} items left</div>
  <!-- TODO fix this soon -->
  <!-- <div class="flex justify-center gap-4 mb-2 sm:mb-0">
    <button
      class="hover:text-white transition-colors duration-200 text-blue-400 font-semibold"
    >
      All
    </button>
    <button class="hover:text-white transition-colors duration-200">
      Active
    </button>
    <button class="hover:text-white transition-colors duration-200">
      Completed
    </button>
  </div>
  <button
    class="text-gray-400 hover:text-red-500 transition-colors duration-200"
  >
    Clear completed
  </button> -->
</div>
